<f:be.container>

    <div class="module-docheader t3js-module-docheader" style="height: auto;">
        <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation row"
             style="height: auto;">
            <div class="module-docheader-bar-column-left col-xs-12 col-sm-3">
            </div>

            <div class="module-docheader-bar-column-right col-xs-12 col-sm-9 text-right">
            </div>
        </div>

        <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">

            <div class="module-docheader-bar-column-left">
                <div class="btn-toolbar" role="toolbar">
                </div>
            </div>
        </div>
    </div>

    <div class="typo3-fullDoc page-creator">
        <div class="loader-overlay"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
        <div id="typo3-docbody">
            <div id="typo3-inner-docbody">
                <f:render section="Main" />
            </div>
        </div>
    </div>

</f:be.container>