<div class="block-button">
    <div class="typo3-newRecordLink" title="Add new">
        <a class="btn btn-default inlineNewButton addNewPage" href="#">
            <span class="t3js-icon icon icon-size-small icon-state-default">
                <span class="icon-markup">
                    <f:image src="EXT:page_creator/Resources/Public/Icons/add.svg" width="16" height="16" />
                </span>
            </span>
            Add new
        </a>
    </div>
    <div class="typo3-newRecordLink" title="Save">
        <a class="btn btn-default inlineNewButton saveAll" href="#">
            <span class="t3js-icon icon icon-size-small icon-state-default">
                <span class="icon-markup">
                    <f:image src="EXT:page_creator/Resources/Public/Icons/save.svg" width="16" height="16" />
                </span>
            </span>
            Save
        </a>
    </div>
</div>