{namespace core = TYPO3\CMS\Core\ViewHelpers}

<fieldset class="form-section page-element">
    <div class="panel-heading">
        <div class="form-irre-header">
            <div class="form-irre-header-cell form-irre-header-control t3js-formengine-irre-control">
                <div class="btn-group btn-group-sm" role="group">
                    <a class="btn btn-default delete-page" href="#" title="Delete page">
                    <span class="t3js-icon icon icon-size-small icon-state-default">
                        <span class="icon-markup">
                            <f:image src="EXT:page_creator/Resources/Public/Icons/delete.svg" width="16" height="16" />
                        </span>
                    </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-sm-6 has-error">
            <label class="t3js-formengine-label">
                Title
            </label>
            <div class="formengine-field-item t3js-formengine-field-item">
                <div class="form-control-wrap" style="max-width: 480px">
                    <div class="form-wizards-wrap">
                        <div class="form-wizards-element">
                            <div class="form-control-clearable">
                                <input name="title" class="form-control" maxlength="255" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field col-sm-6">
            <label class="t3js-formengine-label">
                Doktype
            </label>
            <div class="formengine-field-item t3js-formengine-field-item">
                <div class="form-control-wrap" style="max-width: 480px">
                    <div class="form-wizards-wrap">
                        <div class="form-wizards-element">
                            <div class="input-group">
                                <span class="input-group-addon input-group-icon">
                                    <span title="{f:translate(key: doktypes.0.label)}" class="doktype-icon">
                                        <f:format.raw>{doktypes.0.icon}</f:format.raw>
                                    </span>
                                </span>
                                <select name="doktype" class="form-control" required>
                                    <f:for each="{doktypes}" as="doktype">
                                        <option data-icon="{doktype.icon}" value="{doktype.id}"><f:translate key="{doktype.label}" /> {doktype.id}</option>
                                    </f:for>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group t3js-formengine-validation-marker t3js-formengine-palette-field">
        <label class="t3js-formengine-label">
            Abstract
        </label>
        <div class="formengine-field-item t3js-formengine-field-item">
            <div class="form-control-wrap" style="max-width: 480px">
                <div class="form-wizards-wrap">
                    <div class="form-wizards-element">
                        <div class="form-control-clearable">
                            <textarea name="abstract" rows="3" class="form-control formengine-textarea" maxlength="255"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>