<f:layout name="Backend" />

<f:section name="Main">
    <f:if condition="{page}">
        <f:then>
            <f:form action="create" method="post" id="pageForm">
                <f:form.hidden name="pages" value="" id="pagesField" />

                <h1>Add Subpages to "{page.title}"</h1>
                <f:render partial="PageCreator/Controls" />
                <div id="pages">
                    <f:render partial="PageCreator/PageForm" arguments="{_all}" />
                </div>
                <f:render partial="PageCreator/Controls" />
            </f:form>
        </f:then>
        <f:else>
            <h3>Please select a page to start!</h3>
        </f:else>
    </f:if>
</f:section>