.page-creator .block-button {
    margin: 10px 0;
}
.page-creator .panel-heading {
    margin: -15px -12px 10px;
    color: #5a5a5a;
    background-color: #ddd;
    border-color: #ccc;
    padding: 5px;
}

.page-creator .loader-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.page-creator .loader-overlay.active {
    display: block;
}
.page-creator .lds-ring {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
}
.page-creator .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #fff transparent transparent transparent;
}
.page-creator .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.page-creator .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.page-creator .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}